@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}
p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}
#root {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
:root {
  /* gradient */
  --green-gradient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  --overlay: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0.0001) 100%);
  /* colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* font-size */
  --navitem-mobile: 1.125rem; /* 18px */
  --navitem-desktop: 0.875rem; /* 14px */
  --big-header: 3.5rem; /* 56px */
  --small-header: 2.5rem; /* 40px */
  --section-header-desktop: 2.5rem; /* 40px */
  --section-header-mobile: 2rem; /* 32px */
  --content-text-desktop: 1.125rem; /* 18px */
  --content-text-mobile: 1rem; /* 18px */
  --topic-desktop: 1.5rem; /* 24px */
  --topic-mobile: 1.25rem; /* 20px */
  --article-author: 0.625rem;
  --article-title: 1rem; /* 16px */
  --article-body: 0.813rem; /* 13px */
  --footer: 0.9375rem; /* 15px */
  /* font-weight */
  --bold: 700;
  --regular: 400;
  --light: 300;
}

@media screen and (min-width: 640px) {
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
} ;
